@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

:root {
    --blue: rgb(59, 168, 215);
    --red: rgb(248, 49, 87);
}

h1 {
    font-size: 96px;
}

#turn-display, 
#display-win {
    font-size: 48px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: "Nanum Pen Script";
    background-color: azure;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

table {
    background-color: antiquewhite;
}

td {
    width: 100px;
    height: 100px;
    padding: 16px;

    background-color: azure;
}

img {
    height: 68px;
    width: 68px;
    padding: 0;
    margin: 0;
    max-width: 100%;
    max-height: 100%;
    display: block;
}

dialog {
    justify-self: center;
    align-self: center;
    border: none;
}

form {
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 16px;
    background-color: antiquewhite;
}

label,
input {
    font-size: 32px;
}

label {
    margin-right: 16px;
}

dialog::backdrop {
    background-color: azure;
}

#player-displays {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.player-display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player-display p{
    font-size: 32px;
}

.player-display img {
    margin-top: 32px;
}

.score-display p {
    font-size: 32px;
}

.score-display p:nth-child(2) {
    font-size: 96px;
    text-align: center;
}

.blue {
    color: var(--blue);
}

.red {
    color: var(--red);
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

input {
    font-family: inherit;
    outline: none;
    border: none;
}

button {
    font-family: inherit;
    font-size: 32px;
    border-radius: 5px;
    border: none;
}

form button {
    background-color: white;
}

#restart-button {
    width: 175px;
    height: 35px;
    background-color: antiquewhite;
}